<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayfw.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.mayfw.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
			SELECT
			a.seq
			,a.codeGroup
			,a.codeGroupEn
			,a.useNy
			,a.reg_date
			,a.mod_date
			,COUNT(*) cnt
		FROM ccg a
		LEFT JOIN cc b on a.seq = b.ccg_seq
		GROUP BY a.seq
	</select>

</mapper>	