<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayfw.infra.modules.coupang.CoupangMapper">

<resultMap id="resultMapObj"
		type="com.mayfw.infra.modules.coupang.Coupang"></resultMap>
		
	<select id="selectList" resultMap="resultMapObj">
		SELECT
		a.seq
		,a.productCategory
		,a.productName
		,a.productRating
		,a.productDiscountPercent
		,a.productOriginalPrice
		,a.productDiscountPrice
		,a.deliveryPrice
		,a.productCountryOfOrigin
		,a.productNumber
		,b.*
		FROM 
			product a
		left join
			productUploaded b
		on a.seq = b.pseq
		WHERE 1=1
	</select>
	
	<insert id="insert">
		
		insert into product(
			seq
			,productCategory
			,productName
			,productRating
			,productDiscountPercent
			,productOriginalPrice
			,productDiscountPirce
			,deliveryPrice
			,productCountryOfOrigin
			,productNumber
		)
		values(
			#{seq}
			,#{productCategory}
			,#{prodcutName}
			,#{productRating}
			,#{productDiscountPercent}
			,#{productOriginalPrice}
			,#{productDiscountPirce}
			,#{deliveryPrice}
			,#{productCountryOfOrigin}
			,#{productNumber}
		)
		<selectKey resultType="String" keyProperty="productSeq" order="AFTER"> 
			select last_insert_id()
		</selectKey>
	</insert>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT
		a.seq
		,a.productCategory
		,a.productName
		,a.productRating
		,a.productDiscountPercent
		,a.productOriginalPrice
		,a.productDiscountPrice
		,a.deliveryPrice
		,a.productCountryOfOrigin
		,a.productNumber
		from product a
		where 1=1
			AND a.seq = #{productSeq}
	
	</select>

</mapper>
