<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mayfw.infra.modules.member.memberMapper">

	<resultMap id="resultMapObj"
		type="com.mayfw.infra.modules.member.Member"></resultMap>
		
	<sql id="selectCommon">
		FROM member a
		where 1=1
		<choose>
			<when test="shDate ==1">and a.ifmmRegDate between #{startDate} and #{endDate}</when>
			<when test="shDate ==2">and a.ifmmModDate between #{startDate} and #{endDate}</when>
			<otherwise></otherwise>
		</choose>
		<choose>
			<when test="shOption ==1">and a.ifmmId = #{shValue}</when>
			<when test="shOption ==2">and a.ifmmName LIKE CONCAT('%', #{shValue}, '%')
			</when>
			<when test="shOption ==3">and a.ifmmRating LIKE CONCAT('%', #{shValue}, '%')
			</when>
			<when test="shOption ==4">and a.ifmmGender LIKE CONCAT('%', #{shValue}, '%')
			</when>
			<when test="shOption ==5">and a.ifmmEmail LIKE CONCAT('%', #{shValue}, '%')
			</when>
			<when test="shOption ==6">and a.ifmmTel LIKE CONCAT('%', #{shValue}, '%')
			</when>
			<when test="shOption ==7">and a.ifmmAddress LIKE CONCAT('%', #{shValue}, '%')
			</when>
<!-- 			<when test="shAdminNy ==0">and a.adminNy = #{shAdminNy}</when> -->
<!-- 			<when test="shAdminNy ==1">and a.adminNy = #{shAdminNy}</when> -->
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
		a.ifmmSeq
		,a.ifmmId
		,a.ifmmName
		,a.ifmmDob
		,a.ifmmAdminNy
		,a.ifmmRating
		,a.ifmmGender
		,a.ifmmEmail
		,a.ifmmTel
		,a.ifmmZipcode
		,a.ifmmAddress
		,a.ifmmDetailedAddress
		,a.ifmmRegDate
		,a.ifmmModDate
		,a.ifmmDelNy
		<include refid="selectCommon" />
		<include refid="Base.selectListLowerForMysql" />
		
	</select>
		
		
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
		a.ifmmSeq
		,a.ifmmId
		,a.ifmmName
		,a.ifmmDob
		,a.ifmmAdminNy
		,a.ifmmRating
		,a.ifmmGender
		,a.ifmmEmail
		,a.ifmmTel
		,a.ifmmZipcode
		,a.ifmmAddress
		,a.ifmmDetailedAddress
		,a.ifmmRegDate
		,a.ifmmModDate
		,a.ifmmDelNy
		FROM member a
		where 1=1
			AND a.ifmmSeq = #{shSeq}
	</select>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOneIdCheck" resultType="Integer">
		SELECT COUNT(*) From member where ifmmId = #{ifmmId}
	</select>
	
	<insert id="insert">
		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		insert into member(
			ifmmId
			,ifmmPwd
		    ,ifmmName
		    ,ifmmDob
		    ,ifmmAdminNy
		    ,ifmmRating
		    ,ifmmGender
		    ,ifmmEmail
		    ,ifmmTel
		    ,ifmmZipcode
		    ,ifmmAddress
		    ,ifmmDetailedAddress
		    ,ifmmRegDate
		)
		values(
			#{ifmmId}
			,#{ifmmPwd}
			,#{ifmmName}
			,#{ifmmDob}
			,#{ifmmAdminNy}
			,#{ifmmRating}
			,#{ifmmGender}
			,#{ifmmEmail}
			,#{ifmmTel}
			,#{ifmmZipcode}
			,#{ifmmAddress}
			,#{ifmmDetailedAddress}
			,now()
		)
	</insert>
	
	<insert id="testUploaded">
		INSERT INTO memberUploaded(
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy	
			,pseq
			,regIp
			,regSeq
			,regDeviceCd
			,regDateTime
			,regDateTimeSvr
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,10
			,#{regIp}
			,#{regSeq}
			,#{regDeviceCd}
			,#{regDateTime}
			,#{regDateTimeSvr}
		)
	</insert>
	
	<update id="update">
		UPDATE member SET  
			ifmmName = #{ifmmName}
			,ifmmId = #{ifmmId}
			,ifmmDob = #{ifmmDob}
			,ifmmAdminNy = #{ifmmAdminNy}
			,ifmmRating = #{ifmmRating}
			,ifmmGender = #{ifmmGender}
			,ifmmEmail = #{ifmmEmail}
			,ifmmTel = #{ifmmTel}
			,ifmmZipcode = #{ifmmZipcode}
			,ifmmAddress = #{ifmmAddress}
			,ifmmDetailedAddress = #{ifmmDetailedAddress}
			,ifmmModDate = now()
		WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</update>
	
	<!-- <delete id="delete">
		DELETE FROM ccg   
			
		WHERE 1=1
			AND seq = #{seq}
	</delete> -->
	
    <!-- <select id="selectListCachedCodeGroupArrayList" resultMap="resultMapObj">
	 SELECT 
		seq
		, codeGroup
		
	 FROM
		ccg
	 WHERE 1=1
		AND delNy = 0
	    AND useNy = 1
    </select> -->
    
 <!-- 로그 -->
    <select id="selectOneId" resultMap="resultMapObj">
   			select
   				ifmmSeq
   				,ifmmId
   			from
   				member 
   			WHERE 1=1
   				and ifmmId = #{ifmmId}
   		</select>    
   		
    	<select id="selectOneLogin" resultMap="resultMapObj">
    		select
    			ifmmSeq
    			,ifmmId
    			,ifmmName
    			,ifmmAdminNy
    		from
    			member 
    		where 1=1
    			and ifmmId = #{ifmmId}
    			<if test="ifmmPwd != null and !ifmmPwd.equals('')">and ifmmPwd = #{ifmmPwd}</if>
    	</select>
    	
    	

</mapper>